* {
    box-sizing: border-box;
  }
  
  @import 'reset.css';
  @import 'variable.css';
  
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
  * {
      box-sizing: border-box;
    }
  
    body{
        height:100vh;
        font-family: 'Quicksand', sans-serif;
        color:#d0d0d0;
        font-size: 12px;
        font-weight: 300;
        padding: 20px;
    }
  
    i{
        color:#fff;
    }
  
  main{
      display: flex;
  }
  
    .player{
        box-sizing: border-box;
        width: 235px;
        height: 542px;
        background-color:#252525;
        margin-right: 30px;
        padding: 30px 12px;
        border-radius: 20px;
    }
    
    .header{
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
  
  
  .middle-header{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 35px 0px;
  }
  
  .middle-header span{
      height:28px;
      width:28px;
      padding:10px;
      background-color: rgb(59, 57, 57);
      border-radius: 50%;
      margin: 0px 26px;
      font-size: 9px;
      box-shadow: -1px 0px 6px 1px rgb(112,111,111);
}

  
  .middle-header img{
      width: 95px;
      height: 95px;
      border-radius: 50%;
      border:5px solid #121212;
      box-shadow: 0px 0px 20px 1px rgb(112,111,111);
  }
  
  .artist-info{
      text-align:center;
  }
  
  .artist-info__name{
    font-weight: 200;
    font-size: 21px;
    padding-bottom: 10px;
  }

  .artist-info__desc{
      font-size: 8px;
  }
  
  .middle-header-player{
      display: flex;
      height:24px;
      justify-content: center;
  }
  
  .middle-header-player__icon{
      width: 36%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: rgb(52,51,51);
      margin:0px 10px;
      
  }
  .middle-header-player__icon span{
  opacity: 0.6;
  }
  .album-info-list{
      margin: 20px 0px;
  }
  
  .album-info{
      display:flex;
      height: 45px;
      padding: 2px 10px;
      border-radius: 12px;
      transition: background-color 200ms ease-in-out;
      align-items: center;
  }
  
  .album-info:hover{
      background-color:#121416;
      
  }
  
  .album-info img{
      width: 35px;
      height:35px;
      border-radius: 10px;
      margin-right: 12px;
      
  }
  
  .album-info__desc{
      width:75%;
  }
  
  .play-btn{
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #2e2d2d;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 7px;
      transition: background-color 200ms ease-in-out;
      box-shadow:1px 0px 2px 0px rgb(104,104,104);
  }
  
  
  .album-info__song{
      font-size: 9px;
      font-weight: 500;
      padding-bottom: 5px;
  }
  
  .album-info__singer{
      font-size: 8px;
      font-weight: 500;
      color:rgba(210,210,210,0.5);
    
  }
  
  .now-playing{
      display:flex;
      padding: 7px 12px;
  }
  
  .now-playing__info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
      align-items: center;
      width: 30%;
  }
  
  .now-playing__player{
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .now-playing__singer{
      font-size:10px;
      font-weight: 500;
      padding-bottom: 4px;
  }
  
  .now-playing__song{
      font-size:8px;
      color:rgba(210,210,210,0.5);
  }
  .now-playing{
      height: 38px;
      border-radius: 27px;
      background-color: rgb(59, 57, 57);
      justify-content: space-between;
      padding:12px;
  }
  
  .now-playing__player__pause{
      font-size: 18px;
  }

  .middle-header.player2 img{
    width: 180px;
    height: 180px;
    border:5px solid #121212;
   
  }

.middle-header.player2{
    animation: 8s linear 1s infinite rotation;
}

@keyframes rotation{
    from {
        transform: rotate(0deg)
      }
    
      to {
        transform: rotate(360deg)
      }
}


.player__menu{
    margin: 60px 0px;
    padding: 0 5px;
}


.player__menu__time{
    display: flex;
    justify-content: space-between;
     font-size:7px;
}


  .player__menu__time span{
      font-size:7px;
  }

  .player__menu__bar{
      width:100%;
      height:5px;
      border-bottom:1px solid #808080;
      border-radius: 10px;
      background-color: black;
      
  }


  .bar-color{
    width: 100%;
    transform-origin: 0% 50%;
    height:5px;
    border-bottom:1px solid gray;
    border-radius: 10px;
    background-color: linear-gradient(180deg, #ff8900,orange);
    animation: slidein 18s infinite;
  }

  @keyframes slidein{
    0% {
        transform: scaleX(0);
        background: red;
    }
    100% {
        transform: scaleX(1);
        background:yellow;
    }
  }

  .dot{
      width: 20px;
      height:20px;
      border-radius: 50%;
      border:5px solid rgb(59, 57, 57);
      background-color: #ff8252;
      left:190px;
      bottom: 9px;
      position: relative;
  }

  .player__main__btn{
      display:flex;
      height: 45px;
      justify-content: space-around;
  }

  .player__main{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      justify-content: center;
    display: flex;
    align-items: center;
      background-color: rgb(59, 57, 57);
  }

